In [6]:
def fungsi():
    print("Hi gaes")
fungsi()

Hi gaes

In [59]:
fungsi.tambah = "Indonesia"
print(fungsi.tambah)

Indonesia

In [18]:
import math

def fungsi(x):
    return x * x
a = fungsi(5)    
print(a)

25

# Example 1

In [8]:
arr1 = [1, 2, 3]
arr2 = []
for i in arr1:
    arr2.append(i*2)
print(arr2)

[2, 4, 6]

In [66]:
def func(item):
    return item * 2

arr2 = map(func,[1, 2, 3])
print(arr2)
print(tuple(arr2))

<map object at 0x000002D567E37808>
(2, 4, 6)

In [7]:
arr1 = [1, 2, 3]
arr2 = map(lambda x: x*2, arr1)
print(tuple(arr2))

(2, 4, 6)

# Example 2

In [13]:
tahunLahir = [1975, 1997, 2002, 1995, 1985]
umur = []

for i in tahunLahir:
    umur_sekarang = 2019 - i
    umur.append(umur_sekarang)
print(umur)

[44, 22, 17, 24, 34]

In [14]:
tahunLahir = [1975, 1997, 2002, 1995, 1985]

umur = map(lambda x: 2019 - x, tahunLahir)
print(tuple(umur))

(44, 22, 17, 24, 34)

# Example 1

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [50]:
orang = {
    "child1" : {
        "nama" : "Aan",
        "umur" : 28
    },
    "child2" : {
        "nama" : "Tika",
        "umur" : 28
    },
    "child3" : {
        "nama" : "Bayu",
        "umur" : 18
    }
}

total_umur = []

[v for v in orang.values() if 18 in v.values()]

[{'nama': 'Bayu', 'umur': 18}]

In [47]:
orang = {
    "child1" : {
        "nama" : "Aan",
        "umur" : 28
    },
    "child2" : {
        "nama" : "Tika",
        "umur" : 28
    },
    "child3" : {
        "nama" : "Bayu",
        "umur" : 17
    }
}

In [48]:
[v for v in orang.values() if 18 in v.values()]

[]

In [49]:
list(filter(lambda x: x if x['umur'] >= 18  else None, orang.values()))

[{'nama': 'Aan', 'umur': 28}, {'nama': 'Tika', 'umur': 28}]

# Example

In [19]:
import functools
arr = [5, 7, 1, 8, 4]
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(lambda a,b : a+b,arr))

The sum of the list elements is : 25

In [20]:
print ("The maximum element of the list is : ",end="") 
print (functools.reduce(lambda a,b : a if a > b else b,arr))

The maximum element of the list is : 8

In [16]:
strArray = ['JavaScript', 'Python', 'PHP', 'Java', 'C']

def mapForEach(arr):
    newArray = []
    for i in range (len(strArray)):
        newArray.append(len(arr[i]))
    return newArray
        
    
lenArray = mapForEach(strArray)

print(lenArray)

[10, 6, 3, 4, 1]